name: Benchmark this PR

on:
  pull_request_target:
    branches: [ main ]
  workflow_dispatch:

permissions:
  pull-requests: write

jobs:
  bench:
    runs-on: ubuntu-latest
    steps:
      - uses: MilesCranmer/AirspeedVelocity.jl@action-v1
        with:
          julia-version: '1'
          extra-pkgs: 'https://github.com/KristianHolme/ClassicControlEnvironments.jl,Zygote,Lux,Enzyme'
