name: CI
on:
  push:
    # branches:
      # - main
    tags: ['*']
  pull_request:
  workflow_dispatch:
concurrency:
  # Skip intermediate builds: always.
  # Cancel intermediate builds: only if it is a pull request build.
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ startsWith(github.ref, 'refs/pull/') }}
jobs:
  test:
    name: Julia ${{ matrix.version }} - ${{ matrix.os }} - ${{ matrix.arch }}
    runs-on: ${{ matrix.os }}
    timeout-minutes: 60
    permissions: # needed to allow julia-actions/cache to proactively delete old caches that it has created
      actions: write
      contents: read
    strategy:
      fail-fast: false
      matrix:
        version:
          # - '1.10'# doesnt support [sources] in project.toml
          - '1'
          # - 'pre' # Disabled until JET.jl supports Julia 1.13+
        os:
          - ubuntu-latest
        arch:
          - x64
    steps:
      - uses: actions/checkout@v6
      - uses: julia-actions/setup-julia@v2
        with:
          version: ${{ matrix.version }}
          arch: ${{ matrix.arch }}
      - uses: julia-actions/cache@v2
      - name: Restore CondaPkg environment cache (Wandb)
        uses: actions/cache@v4
        with:
          path: .condapkg-ci
          key: condapkg-v2-${{ runner.os }}-${{ matrix.arch }}-julia-${{ matrix.version }}-${{ hashFiles('Project.toml', 'test/Project.toml') }}
          restore-keys: |
            condapkg-v2-${{ runner.os }}-${{ matrix.arch }}-julia-${{ matrix.version }}-
            condapkg-v2-${{ runner.os }}-${{ matrix.arch }}-
      - uses: julia-actions/julia-buildpkg@v1
      - uses: julia-actions/julia-runtest@v1
        with:
          coverage: 'false'
        env:
          JULIA_CONDAPKG_ENV: ${{ github.workspace }}/.condapkg-ci/wandb
